<header>
  <nav id="navbar" class="navbar navbar-expand-lg navbar-light"  style="background-color: #b3bb9f;">
    <a class="navbar-brand" href="/">pin-mint</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <% if(current_user === undefined){ %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/profile"> Welcome back <%= current_user.username %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">+ New Pin</a>
          </li>
        <% } %>
      </ul>
      <form class="form-inline my-2 my-lg-0" Method='GET' action='/'>
          <select id = "pins" name ="tags">
            <option value = ''>Make a Selection</option>
              <option value = "Technology">Technology</option>
                  <option value = "Sports">Sports</option>
                  <option value = "Foods">Foods</option>
                  <option value = "Arts">Arts</option>
                  <option value = "Miscellaneous">Miscellaneous</option>
            </select>
            <br>
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="search" aria-label="Search"> -->
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <form class="form-inline my-2 my-lg-0" Method='POST' action='/logout'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >LOGOUT</button>
    </form>

    </div>

  </nav>
</header>
