<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- Css styling -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/loadpins.css" type="text/css"/>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://use.fontawesome.com/dcdfd5f0d7.js"></script>
  </head>

  <body>
      <header> <%include ./partials/header.ejs %></header>
    <!-- <h1>Hello
      <% if (current_user) { %>
        <%= current_user.username %>
      <% } else { %>
        Stranger
      <% } %>
    </h1> -->

      <!-- Pin Grid-->

    <div id="wrapper">
      <div class="box">
        <div id="image-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPKz5vgY9NtIcrZ8F9TA4xdji65iKyiLJQ0r9RbKi9QyW61WHS"/>
          <i id="push-pin" class="fa fa-thumb-tack" aria-hidden="true"></i>
        </div>
        <h4>Coloring 101</h4>
        <p>A guide on how to color within the lines</p>
      </div>
      <div class="box">
        <div id="image-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoDbxJdyDQqmFwWdAhY08hHHXqwQTBppjU_dUwBX6BulfMTDp5"/>
          <i id="push-pin" class="fa fa-thumb-tack" aria-hidden="true"></i>
        </div>
        <h4>Title</h4>
        <p>Description</p>
      </div>
      <div class="box">
        <div id="image-box">
          <img src="http://croatia.hr/sites/default/files/styles/image_full_width/public/2017-08/02_01_slide_nature.jpg?itok=ItAHmLlp"/>
          <i id="push-pin" class="fa fa-thumb-tack" aria-hidden="true"></i>
        </div>
        <h4>Title</h4>
        <p>Description</p>
      </div>
      <div class="box">
        <div id="image-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmqaMmh08RSy8U_lOfFsQ7aCOm6yZWFhidnLSbLRVPefkTG-nLOw"/>
          <i id="push-pin" class="fa fa-thumb-tack" aria-hidden="true"></i>
        </div>
        <h4>Title</h4>
        <p>Description</p>
      </div>
      <div class="box">
        <div id="image-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmqaMmh08RSy8U_lOfFsQ7aCOm6yZWFhidnLSbLRVPefkTG-nLOw"/>
          <i id="push-pin" class="fa fa-thumb-tack" aria-hidden="true"></i>
        </div>
        <h4>Title</h4>
        <p>Description</p>
      </div>
      <div class="box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCWXsFJK2xfshgFv5eKus8yg1NrKzNDJaUHoe4hHmYoQvWUw5K"/>
        <h4>Title</h4>
        <p>Description</p>
      </div>
      <div class="box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCWXsFJK2xfshgFv5eKus8yg1NrKzNDJaUHoe4hHmYoQvWUw5K"/>
        <h4>Title</h4>
        <p>Description</p>
      </div>
      <div class="box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5VCk99bH7R74ieCdVrImHIC50ZOsix4AEkUHOrxxc9N9EF0tBxA"/>
        <h4>Title</h4>
        <p>Description</p>
      </div>
      <div class="box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5VCk99bH7R74ieCdVrImHIC50ZOsix4AEkUHOrxxc9N9EF0tBxA"/>
        <h4>Title</h4>
        <p>Description</p>
      </div>
      <div class="box">
        <h4>Title</h4>
        <p>Description</p>
      </div>
      <div class="box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkJIQdQW5ccD0kx4TIavGPOmH-VxCkVGgJdPTpZ8mYl6jI1bPN7g"/>
        <h4>Title</h4>
        <p>Description</p>
      </div>
      <div class="box">
        <h4>Title</h4>
        <p>Description</p>
      </div>
    </div>

    <!-- Scripts -->
    <script src=“https://code.jquery.com/jquery-3.3.1.slim.min.js” integrity=“sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo” crossorigin=“anonymous”></script>
    <script src=“https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js” integrity=“sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1” crossorigin=“anonymous”></script>
    <script src=“https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js” integrity=“sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM” crossorigin=“anonymous”></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="./server.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
