#modal-img {
  width: 300px;
  height: 200px;
}

#modal {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

#flex-body {
  display: flex;
  justify-content: space-between
}

#comment {
  width: 450px;
  position: relative;
  margin-right: 5px;
}

#flex-comments {
  display: flex;
  flex-direction: column;
}

#submit-button {
  right: 5px;
  position: absolute;
}

#modal-comment {
  margin-top: 10px;
}

.star__container {
  width: 150px;
  height: 40px
}

#image-desc {
  text-align: center;
  margin-left: 10px;
}

.close {
  font-size: 50px;
}
