#user-image {
  width: 200px;
  height: 200px;
}

#user-header {
  background-color: #2587e2;
  position: relative;
  box-sizing: border-box;
  text-align: center;
}

.link {
  color: black;
  font-size: 24px;
}
